@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.developer-card {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px 1px var(--theme-navbar-box-shadow);
  max-width: 500px;
  .developer-card-user-info {
    padding: 10px;
    position: relative;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-primary-bg);
    color: var(--theme-secondary-color);
    span {
      position: absolute;
      top: 12px;
      right: 10px;
    }
    .developer-card-username {
      background: var(--theme-primary-hover);
      padding: 4px 0.8em;
      font-size: 0.8rem;
      line-height: 1;
      border-radius: 20px;
      margin-bottom: 10px;
    }
    .developer-card-avatar {
      width: 150px;
      margin-bottom: 10px;
      height: 150px;
      border-radius: 100%;
      overflow: hidden;
      background: var(--theme-primary-bg);
    }
    .developer-card-links {
      display: flex;
      a {
        color: inherit;
        margin: 0 10px;
      }
    }
  }
  margin: 10px;
  .developer-card-user-stats {
    flex:2;
    .developer-card-name {
      font-family: 'Bebas Neue', cursive;
      padding: 10px 20px;
      font-size: 1.2rem;
      // font-weight: bold;
    }
    
  }
}
