@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.readme-profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  .readme-mid-container {
    flex: 6;
    flex-grow: 6;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0px 56px;
    min-width: 300px;
    img {
      margin-right: 10px;
    }
  }

  .blog-main-container {
    flex: 10;
  }
  .developer-card {
    flex-direction: column;
    min-width: 300px;
    .developer-card-user-stats {
      padding-bottom: 10px;
    }
    flex: 1;
  }
}
a.developer-card-link,
#colorless-link {
  color: unset;
  cursor: pointer;
  svg {
    color: var(--theme-secondary-color);
  }
}
.developer-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.developer-card {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px 1px var(--theme-navbar-box-shadow);
  min-width: 450px;
  .developer-card-user-info {
    padding: 10px;
    position: relative;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-primary-bg);
    color: var(--theme-secondary-color);
    span {
      position: absolute;
      top: 12px;
      right: 10px;
    }
    .developer-card-username {
      background: var(--theme-primary-hover);
      padding: 4px 0.8em;
      font-size: 0.8rem;
      line-height: 1;
      border-radius: 20px;
      margin-bottom: 10px;
      display: flex;
      white-space: pre;
      align-items: center;
      .highlight {
        background-color: yellow;
        color: black;
      }
    }
    .developer-card-avatar {
      width: 150px;
      margin-bottom: 10px;
      height: 150px;
      border-radius: 100%;
      overflow: hidden;
      background: var(--theme-primary-bg);
    }
    .developer-card-links {
      display: flex;
      a {
        color: inherit;
        margin: 0 10px;
      }
    }
  }
  margin: 10px;
  .developer-card-user-stats {
    flex: 2;
    position: relative;
    .developer-card-name {
      font-family: 'Bebas Neue', cursive;
      padding: 10px 20px;
      font-size: 1.2rem;
      // font-weight: bold;
      display: flex;
      justify-content: space-between;
    }
    &:hover,
    &:active {
      .developer-card-hover {
        opacity: 0.8;
      }
    }
    .developer-card-hover {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background: var(--theme-primary-bg);
      opacity: 0;
      transition: opacity 0.5s ease;
      .developer-card-link {
        color: var(--theme-secondary-color);
        display: flex;
        padding: 4px 1em;
        border: 2px solid var(--theme-secondary-color);
        border-radius: 4px;
      }
    }
    .developer-card-detail {
      padding: 1px 20px;
      font-size: 0.8rem;

      display: flex;
      justify-content: space-between;
      .developer-card-title {
        opacity: 0.7;
      }
      .developer-card-value {
        font-weight: bolder;
      }
    }
  }
}

@media (max-width: 480px) {
  .developer-card-container {
    flex-direction: column;
    .developer-card {
      flex-direction: column;
      min-width: unset;
      .developer-card-user-stats {
        padding-bottom: 10px;
      }
    }
  }
}

@media (max-width: 700px) {
  .readme-profile {
    .readme-mid-container {
      padding: 0px 1.125rem;
    }
  }
}
