.blog-sidebar {
  min-height: 80vh;
  top: 56px;
  border-right: 1px solid var(--theme-navbar-box-shadow);
  display: flex;
  max-height: 90vh;
  overflow: auto;
  position: sticky;
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
  padding: 20px 0;

  .blog-sidebar__header {
    margin-top: 20px;
    font-size: 0.9rem;
    padding: 4px 15px;
    text-transform: capitalize;
    user-select: none;
    color: var(--theme-dim-color);
  }

  .blog-sidebar__item {
    color: var(--theme-color);
    margin-top: 10px;
    font-size: 0.8rem;
    padding: 4px 20px;
    border-radius: 4px 0px 0 4px;
    &:hover {
      background: var(--theme-hover);
    }
  }
  .blog-sidebar__series-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .blog-sidebar__item--active {
    color: var(--theme-color);
    background: var(--theme-hover);
    box-shadow: inset -4px 0 var(--theme-primary-hover);
  }
}

@media (max-width: 700px) {
  .blog-sidebar {
    display: none;
  }
}
