.popper-tool-tip .popper-tool-tip__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}
.popper-tool-tip[data-popper-placement^='top'] .popper-tool-tip__arrow {
  border-width: 5px 5px 0 5px;
  border-color: var(--popper-arrow-color) transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper-tool-tip[data-popper-placement^='bottom'] .popper-tool-tip__arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent var(--popper-arrow-color) transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper-tool-tip[data-popper-placement^='right'] .popper-tool-tip__arrow {
  border-width: 5px 5px 5px 0;
  border-color: transparent var(--popper-arrow-color) transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper-tool-tip[data-popper-placement^='left'] .popper-tool-tip__arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent var(--popper-arrow-color);
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper-tool-tip[data-x-out-of-boundaries] {
  display: none;
}
